# Ignore Python & Node dependencies
venv/
node_modules/
__pycache__/
.env
firebase/firebase-adminsdk.json
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
*.sqlite3

# VS Code
.vscode/

# Firebase
firebase-adminsdk.json
